<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2016-2017 Huawei Technologies Co., Ltd.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openo.gso.mapper.ServiceModelMapper">

    <resultMap type="org.openo.gso.model.servicemo.ServiceModel" id="serviceModelResultMap">
        <result property="serviceId" column="serviceId" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="activeStatus" column="activeStatus" />
        <result property="status" column="status" />
        <result property="creator" column="creator" />
        <result property="createAt" column="createAt" />
        <result property="segmentNumber" column="segmentNumber" />
    </resultMap>

    <insert id="insert" parameterType="org.openo.gso.model.servicemo.ServiceModel">
        insert into
        t_lcm_service
        (serviceId,name,description,activeStatus,status,creator,createAt,segmentNumber)
        values(#{serviceId},#{name},#{description},#{activeStatus},#{status},#{creator},#{createAt},#{segmentNumber})
    </insert>

    <delete id="delete">
        delete from t_lcm_service where serviceId = #{serviceId}
    </delete>


    <select id="queryAllServices" resultMap="serviceModelResultMap">
        select
        serviceId,name,description,activeStatus,status,creator,createAt,segmentNumber from t_lcm_service
    </select>

    <select id="queryServiceByInstanceId" resultMap="serviceModelResultMap">
        select
        serviceId,name,description,activeStatus,status,creator,createAt,segmentNumber from t_lcm_service where serviceId
        = #{serviceId}
    </select>

    <update id="updateServiceStatus" parameterType="java.lang.String">
        update t_lcm_service set status = #{status} where serviceId =
        #{serviceId}
    </update>

    <select id="queryServiceByStatus" resultMap="serviceModelResultMap">
        select
        serviceId,name,description,activeStatus,status,creator,createAt,segmentNumber from t_lcm_service where status =
        #{status}
    </select>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="services" item="item" index="index" separator=";">
            update t_lcm_service
            <set>
                <if test="item.status != null">
                    status = #{item.status}
                </if>
            </set>
            where serviceId = #{item.serviceId}
        </foreach>
    </update>

    <select id="batchDelete" parameterType="java.util.List">
        delete svc, mapping, param from t_lcm_service as svc left join t_lcm_defPackage_mapping as mapping on
        svc.serviceId = mapping.serviceId left join t_lcm_service_parameter as param on svc.serviceId = param.serviceId
        where svc.serviceId in
        <foreach item="item" index="index" collection="svcIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>