#*******************************************************************************
# Copyright 2016 Huawei Technologies Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#*******************************************************************************
#Reference:
#http://commons.apache.org/proper/commons-dbcp/configuration.html
#redis config
#pool config
gsodb.maxActive = 40
gsodb.maxIdle = 10
gsodb.minIdle = 0
gsodb.maxWait = 10000

#database config
#connection config
gsodb.mysql.connectionProperties = connectTimeout=10000;socketTimeout=30000
gsodb.gauss.connectionProperties = loginTimeout=10;socketTimeout=30000

#pool config
gsodb.maxActive = 20
gsodb.maxIdle = 10
gsodb.minIdle = 0
gsodb.maxWait = 10000

#runtime config
gsodb.testOnBorrow = true
gsodb.testOnReturn = true
gsodb.testWhileIdle = true

gsodb.timeBetweenEvictionRunsMillis = 1800000
gsodb.numTestsPerEvictionRun = 3
gsodb.minEvictableIdleTimeMillis = 1800000

#clear abandoned config
gsodb.removeAbandoned = true
gsodb.removeAbandonedTimeout = 600
